.favourites-section {
  padding-top: 45px;

  .favourites__header {
    text-align: center;
    margin-bottom: 55px;

    .favourites__title {
      line-height: 1;
      margin: 15px 0px;
      @include font-size(47px);
    }

    .favourites__subtitle {
      display: block;
      line-height: 1.2;
      @include font-size(19px);
    }
  }

  .favourites__container {
    @include clearfix;

    .favourites__item {
      margin-bottom: 25px;
      width: 47%;
      float: left;

      &:nth-child(2n) {
        margin-left: 6%;
      }

      .favourites__item-inner {
        @include clearfix;

        .favourites__cover-wrapper {
          width: 48%;
          margin-left: 2%;
          float: right;
          line-height: 0;

          .favourites__cover {
            width: 100%;
          }
        }

        .favourites__products-container {
          width: 50%;
          float: right;

          .favourites__products-inner {
            position: relative;
            height: 100%;
            @include clearfix;

            .favourites__product {
              width: 48%;
              height: 48%;
              float: left;
              position: absolute;
              overflow: hidden;

              &:first-child {
                top: 0;
                left: 0;
              }

              &:nth-child(2) {
                top: 0;
                right: 0;
              }

              &:nth-child(3) {
                bottom: 0;
                left: 0;
                margin-bottom: 2%;
              }

              &:nth-child(4) {
                bottom: 0;
                right: 0;
                margin-bottom: 2%;
              }

              .favourites__thumb-wrapper {
                display: block;
                line-height: 0;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                overflow: hidden;
                padding-bottom: 100%;
                @include transition(transform .5s ease);

                &:hover {

                  .favourites__thumb {
                    @include transform(scale(1.05));
                  }
                }

                .favourites__thumb {
                  display: block;
                  line-height: 0;
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  background-size: contain;
                  background-repeat: no-repeat;
                  @include transition(transform .5s ease)
                }
              }

              .procuct_card__cart-message {
                position: absolute;
                display: none;
                top: 0;
                left: 0;
                right: 0;
                margin: auto;
                text-align: center;
                color: $white;
                background-color: rgba($pink-1, .75);
                line-height: 3;
                @include font-size(14px);

                &.already-in {
                  background-color: rgba($black-1, .65);
                }
              }

              .favourites__product-info {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: $white;
                @include clearfix;

                .favourites__product-text {
                  padding-top: 4px;
                  padding-right: 5px;
                  float: left;
                  max-width: calc(100% - 15px);

                  .favourites__collection {
                    margin: 0;
                    text-transform: uppercase;
                    line-height: 1.6;
                    @include font-size(10px);
                  }

                  .favourites__title {
                    display: block;
                    color: $black;
                    line-height: 1.1;
                    @include font-size(9px);

                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }

                .favourites__cart-wrapper {
                  float: right;

                  .favourites__cart {
                    display:block;
                    width:15px;
                    height:20px;
                    margin-top: 5px;
                    cursor: pointer;

                    svg {

                      g {
                        @include transition(all .3s);
                      }

                      &:hover {

                        g {
                          fill: $pink-1;
                        }
                      }
                    }
                  }
                }
              }

              .add-to-cart-loader {
                position: absolute;
                display: none;
                width: auto;
                height: auto;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: $ajax-loader-bg-color;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 50px;
                background-image: url('images/ajax-loader.gif');
              }
            }
          }
        }
      }
    }
  }
}


// mobil álló
@include screen( $null, ($md - 1) ) {
  .favourites-section {

    .favourites__header {
      margin-bottom: 25px;

      .favourites__title {
        @include font-size(33px);
      }

      .favourites__subtitle {
        @include font-size(17px);
      }
    }

    .favourites__container {

      .favourites__item {
        width: 100%;
        margin-bottom: 50px;

        &:nth-child(2n) {
          margin-left: 0;
        }

        .favourites__item-inner {

          .favourites__cover-wrapper {
            width: 100%;
            margin-bottom: 13px;

            .favourites__cover {

            }
          }

          .favourites__products-container {
            width: 100%;

            .favourites__products-inner {

              .favourites__product {

                &:first-child {

                }

                &:nth-child(2) {

                }

                &:nth-child(3) {

                }

                &:nth-child(4) {

                }

                .favourites__thumb-wrapper {

                  &:hover {

                    .favourites__thumb {

                    }
                  }

                  .favourites__thumb {

                  }
                }

                .favourites__product-info {

                  .favourites__product-text {

                    .favourites__collection {
                      @include font-size(16px);

                    }

                    .favourites__title {
                      @include font-size(13px);

                      &:hover {

                      }
                    }
                  }

                  .favourites__cart-wrapper {

                    .favourites__cart {

                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// mobil fekvő
@include screen( $null, ($md - 1), landscape ) {
  .favourites-section {

    .favourites__header {

      .favourites__title {

      }

      .favourites__subtitle {

      }
    }

    .favourites__container {

      .favourites__item {

        &:nth-child(2n) {

        }

        .favourites__item-inner {

          .favourites__cover-wrapper {
            width: 50%;
            margin-left: 2%;

            .favourites__cover {

            }
          }

          .favourites__products-container {
            width: 48%;

            .favourites__products-inner {

              .favourites__product {

                &:first-child {

                }

                &:nth-child(2) {

                }

                &:nth-child(3) {

                }

                &:nth-child(4) {

                }

                .favourites__thumb-wrapper {

                  &:hover {

                    .favourites__thumb {

                    }
                  }

                  .favourites__thumb {

                  }
                }

                .favourites__product-info {

                  .favourites__product-text {

                    .favourites__collection {

                    }

                    .favourites__title {

                      &:hover {

                      }
                    }
                  }

                  .favourites__cart-wrapper {

                    .favourites__cart {

                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// tablet álló
@include screen( $md, ($lg - 1) ) {
  .favourites-section {

    .favourites__header {

      .favourites__title {

      }

      .favourites__subtitle {

      }
    }

    .favourites__container {

      .favourites__item {
        width: 100%;
        margin-bottom: 50px;

        &:nth-child(2n) {
          margin-left: 0;
        }

        .favourites__item-inner {

          .favourites__cover-wrapper {

            .favourites__cover {

            }
          }

          .favourites__products-container {

            .favourites__products-inner {

              .favourites__product {

                &:first-child {

                }

                &:nth-child(2) {

                }

                &:nth-child(3) {

                }

                &:nth-child(4) {

                }

                .favourites__thumb-wrapper {

                  &:hover {

                    .favourites__thumb {

                    }
                  }

                  .favourites__thumb {

                  }
                }

                .favourites__product-info {

                  .favourites__product-text {

                    .favourites__collection {

                    }

                    .favourites__title {

                      &:hover {

                      }
                    }
                  }

                  .favourites__cart-wrapper {

                    .favourites__cart {

                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

//tablet fekvő
@include screen($lg, ($xl - 1)) {
  .favourites-section {

    .favourites__header {

      .favourites__title {

      }

      .favourites__subtitle {

      }
    }

    .favourites__container {

      .favourites__item {

        &:nth-child(2n) {

        }

        .favourites__item-inner {

          .favourites__cover-wrapper {

            .favourites__cover {

            }
          }

          .favourites__products-container {

            .favourites__products-inner {

              .favourites__product {

                &:first-child {

                }

                &:nth-child(2) {

                }

                &:nth-child(3) {

                }

                &:nth-child(4) {

                }

                .favourites__thumb-wrapper {

                  &:hover {

                    .favourites__thumb {

                    }
                  }

                  .favourites__thumb {

                  }
                }

                .favourites__product-info {

                  .favourites__product-text {

                    .favourites__collection {

                    }

                    .favourites__title {

                      &:hover {

                      }
                    }
                  }

                  .favourites__cart-wrapper {

                    .favourites__cart {

                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}