/**
 * Photoswipe
 * 1. These styles are required to overwrite default theme button styles (Twenty Twelve adds gradients via background-image).
 * 2. For zooming on mobile.
 */
.pswp {
  z-index: 999999;

}

.woocommerce img.pswp__img,
.woocommerce-page img.pswp__img {
  max-width: none; /* 2 */

}

button.pswp__button {
  box-shadow: none!important;
  background-image: url('images/photoswipe/default-skin/default-skin.png')!important;

}

button.pswp__button,
button.pswp__button:hover,
button.pswp__button--arrow--left::before,
button.pswp__button--arrow--right::before {
  background-color: transparent !important; /* 1 */

}

button.pswp__button--arrow--left,
button.pswp__button--arrow--right,
button.pswp__button--arrow--left:hover,
button.pswp__button--arrow--right:hover {
  background-image: none !important; /* 1 */

}

button.pswp__button--close:hover {
  background-position: 0 -44px;
}

button.pswp__button--zoom:hover {
  background-position: -88px 0;
}
